<template name="todoLists">
  <div style="margin-top: 0px;" class="page-header clearfix">
    <h3>RuneScape 3</h3>
      <div>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="BandosDropsRs3" title="Bandos - RS3">Bandos</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="ZamorakDropsRs3" title="Zamorak - RS3">Zamorak</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="SaradominDropsRs3" title="Saradomin - RS3">Saradomin</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="ArmadylDropsRs3" title="Armadyl - RS3">Armadyl</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="AraxxorDrops" title="Araxxor - RS3">Araxxor</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="NexDrops" title="Nex - RS3">Nex</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="QbdDrops" title="Queen Black Dragon - RS3">Queen Black Dragon</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="CorpDropsRs3" title="Corporeal Beast - RS3">Corporeal Beast</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="RotsDrops" title="Barrows: RotS - RS3">Barrows: RotS</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="VoragoDrops" title="Vorago - RS3">Vorago</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="TormentedDemonDropsRS3" title="Tormented Demons - RS3">Tormented Demons</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="KalphiteKingDrops" title="Kalphite King - RS3">Kalphite King</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="KbdDropsRs3" title="King Black Dragon - RS3">King Black Dragon</a>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="KalphiteQueenDropsRs3" title="Kalphite Queen - RS3">Kalphite Queen</a>
      </div> 
    <h3>Oldschool RuneScape</h3>
      <div>
        <a href="#" style="margin-top: 15px;" class="btn btn-success new-droplog" id="ZulrahDrops" title="Zulrah - OSRS">Zulrah</a>
      </div> 
  </div>
  <div class="list-group">
    {{#each lists}}
      <a href="{{pathFor 'todoList'}}" class="list-group-item">{{name}}</a>
    {{else}}
     <p class="alert alert-info">You haven't created any droplogs yet!</p>
    {{/each}}
  </div>
</template>
